{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Ajouter un nouveau cours {% endblock %}

<form method="post">
    <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" name="title" placeholder="Post title" class="form-control" value="{{ request.form['title'] }}"></input>
    </div>

    <div class="form-group">
        <label for="content">Contenu</label>
        <textarea name="content" placeholder="Post content" class="form-control">{{ request.form['content'] }}</textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </div>
</form>
{% endblock %}
