{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Modifier "{{ post['title'] }}" {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" name="title" placeholder="Post title" class="form-control" value="{{ request.form['title'] or post['title'] }}"></input>
    </div>

    <div class="form-group">
        <label for="content">Contenu</label>
        <textarea name="content" placeholder="Post content" class="form-control">{{ request.form['content'] or post['content'] }} </textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Modifier</button>
    </div>
</form>
<hr>

<form action ="{{ url_for('delete', id=post['id']) }}" method="POST">
    <input type="submit" value="Delete Post" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this post?')">
</form>
{% endblock %}

