{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center p-3">{% block title %} Bienvenue sur Wikisopra {% endblock %}</h1>
    {% for post in posts %}
	<a href="{{ url_for('post', post_id=post['id']) }}">
	    <h2>{{ post['title'] }}</h2>
	</a>
	<span class="text-black">{{ post['created'] }}</span>
	<a href="{{ url_for('edit', id=post['id']) }}">
	    <span class="btn btn-primary">Modifier</span>
	</a>
	<hr>
    {% endfor %}
{% endblock %}
