{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ post['tittle'] }} {% endblock %}</h2>
    <span class ="text-black">{{ post['created'] }}</span>
    <p>{{ post['content'] }}</p>
{% endblock %}
